.navbar1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: #333333;
    color: #fff;
    /* border: 1px solid red; */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    /* background-color: #333333; */
}

a {
    text-decoration: none;
    color: white;
    margin-left: 39px;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #4b4b4b;
    color: #fff;
}

.navbar a{
 margin-left: 113px;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
    margin-left: 136px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: rgb(218, 53, 53);
    border-radius: 1px;
    transition: 0.3s ease;
}

.menu li:active {
    text-decoration: underline white;
}

.menu li {
    padding: 5px 14px;
}

/* DROPDOWN MENU */
.services {
    position: relative;
}


/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: rgb(65, 66, 66);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #4c9e9e;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 12px;
    }
}

.navbar3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    background-color: rgb(97, 96, 97);
    color: #fff;
    /* border: 1px solid red; */
}

.headingtwo{
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.navbar3 a{
    margin-left: 120px;
}

.navbar4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: #535353;
    color: #fff;
    /* border: 1px solid red; */

}



.rowform {
    background-color: #333333;
    height: 480px;
    /* border: 1px solid #333333; */
}

.row3:after {

    content: "";
    display: table;
    clear: both;
}

.column3 {
    /* float: left; */
    width: 30.33%;
    padding: 20px;
    height: 300px;
    /* Should be removed. Only for demonstration */
    margin-top: 20px;
}

#col7 {
    height: 80px;
    width: 80%;
    margin-bottom: 20px;
    background-color: #666767;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    /* border: 2px solid yellow; */
}

input[type=text],
select {
    width: 25%;
    padding: 12px 20px;
    margin: 7px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #535353;
    color: white;
}


.divform {
    border-radius: 5px;
    background-color: #333333;
    padding: 20px;
    margin-top: 60px;
    width: 80%;
    margin: auto;
    /* border: 1px solid #3d3d3d; */
    margin-bottom: -20px;
}


label {
    color: white;
    font-size: 19px;

}

/* input, label{
        display: flex;
        flex-direction: row;

    }
   */

   /* .modules{
    background-color: #3d3d3d;
    padding: 20px;
    width: 100%;
    border: 1px solid  #3d3d3d;
    
   } */

.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: start;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: auto;
    cursor: pointer;
    display: block;
    width: 83%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.buttontop {
    background-color: #535353;
    font-size: 20px;
    font-weight: 700;
    


}

.button1 {
    margin-top: -4px;
    background-color: #333333;
}

.button2 {
    margin-top: -4px;
    background-color: #333333;
}

.button3 {
    background-color: #333333;
    margin-top: -4px;

}

.button4 {
    background-color: #333333;
    margin-top: -4px;
}

.button5 {
    background-color: #333333;
    margin-top: -4px;
}

.button6 {
    background-color: #333333;
    margin-top: -4px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: #4b4b4b;
    color: white;
    /* margin-top: 100px; */
    height: 190px;
    bottom: 0;
    width: 100.5%;
    margin-left: -0.5%;
   
  }

