.navbar1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: #333333;
  color: #fff;
  /* border: 1px solid red; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #333333;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 22px;
}

li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #4b4b4b;
  color: #fff;
  height: 64px;
}

.navbar a {
  margin-bottom: -40px;
  margin-top: -20px;
}

#searchbar {
  width: 150%;
  height: 40px;
  margin-left: 280px;
  font-size: 13px;
  background-color: #4b4b4b;
  color: white;
  border: 1px solid white;
  margin-bottom: 2px;

}



::placeholder {
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  padding: 10px;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logo {
  font-size: 32px;
  margin-left: 50px;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li:hover {
  background-color: rgb(128, 16, 16);
  border-radius: 1px;
  transition: 0.3s ease;
}

.menu li:active {
  text-decoration: underline white;
}

.menu li {
  padding: 5px 14px;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: rgb(65, 66, 66);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li+li {
    margin-top: 12px;
  }
}

.navbar3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  background-color: rgb(97, 96, 97);
  color: #fff;
  /* border: 1px solid red; */
}


.navbar3 a {
  margin-left: 25px;
}

.hr1 {
  width: 109%;
  color: #fff;
  margin-left: -19px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr11 {
  width: 99%;
  color: #fff;
  margin-left: 1px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr2 {
  width: 109%;
  color: #fff;
  margin-left: -19px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr22 {
  width: 99%;
  color: #fff;
  margin-left: 1px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr3 {
  width: 109%;
  color: #fff;
  margin-left: -18px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr4 {
  width: 109%;
  color: #fff;
  margin-left: -18px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr44 {
  width: 99%;
  color: #fff;
  margin-left: 1px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr5 {
  width: 104.3%;
  color: #fff;
  margin-left: -10px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr6 {
  width: 100%;
  color: #fff;
  margin-left: -1px;
  border-width: 0.1px;
  margin-top: 5px;
}

.hr66 {
  width: 95%;
  color: #fff;
  margin-left: 10px;
  border-width: 0.1px;
  margin-top: 5px;
}


* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 30.33%;
  padding: 20px;
  height: 300px;
  /* Should be removed. Only for demonstration */
  margin-left: 35px;
  margin-top: 20px;

}

.column2 {
  float: left;
  width: 30.33%;
  padding: 10px;
  height: 300px;
  margin-top: 20px;
  /* Should be removed. Only for demonstration */
  margin-left: 35px;
  /* margin-bottom: 90px; */

}


.column3 {
  float: left;
  width: 30.33%;
  padding: 20px;
  height: 300px;
  /* Should be removed. Only for demonstration */
  margin-left: 35px;
  margin-top: 20px;


}


#col {
  margin-left: 30px;
  height: 200px;

}



/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row2:after {

  content: "";
  display: table;
  clear: both;
}

.row3:after {

  content: "";
  display: table;
  clear: both;
}


/* .containerOne{

    width: 27%;
    height: 450px;
    background-color: #4b4b4b;
    margin-top: 12px;
    margin-left:30px;
} */


/* .containerTwo{
    width: 27%;
    height: 400px;
    background-color: #4b4b4b;
    margin-top: 12px;
    margin-left:30px;
} */


#col1 {
  color: white;
  height: 499px;
  background-color: #4b4b4b;
  font-family: sans-serif;
  font-size: 14px;

}

.date {
  text-align: center;
}

#col2 {
  height: 380px;
  background-color: #4b4b4b;
  color: white;
  font-family: sans-serif;

}

#col3 {
  height: 180px;
  background-color: #4b4b4b;
  color: white;
  font-family: sans-serif;
}


#col4 {
  height: 470px;
  background-color: #4b4b4b;
  color: white;
  padding: 20px;
  font-family: sans-serif;
  font-size: 14px;


}



.imageOne {
  margin-top: -24px;
  margin-bottom: 9px;

}

#col5 {
  margin-top: -93px;
  height: 140px;
  background-color: #4b4b4b;
  color: white;
  font-family: sans-serif;
  border: 1px solid #4b4b4b;


}

#col6 {
  margin-top: -291px;
  height: 250px;
  background-color: #a7a4a4;

}

#col66 {
  /* margin-top: -240px;  */
  width: 99%;
  height: 230px;
  background-color: #2b2929;
  margin: auto;
  color: white;
  font-family: sans-serif;

}



#col7 {
  height: 130px;
  width: 96%;
  margin-bottom: -70px;
  background-color: #4b4b4b;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
  font-family: sans-serif;

}

.button {
  width: 96%;
  background-color: rgb(59, 59, 58);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 17px;


}

.button2 {
  width: 96%;
  background-color: rgb(59, 59, 58);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 13px;
  margin-top: 13px;


}

.button3 {
  width: 20%;
  background-color: rgb(128, 16, 16);
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  font-size: 15.5px;
  margin-top: 13px;
}

button:hover {
  background-color: rgb(49, 49, 47);
  color: white;
}

.studentlinks {
  margin-top: 10px;
  text-align: center;

}

.studentlinkstext {
  font-size: 13px;
}

#studentlinkstext {
  font-size: 13px;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #4b4b4b;
  color: white;
  margin-top: 100px;
  height: 250px;
  bottom: 0;
  width: 100.5%;
  margin-left: -0.5%;


}

.footerSectionOne {
  width: 90%;
  height: 70px;
  /* border: 1px solid red; */
  margin-top: 25px;
  margin: auto;
  text-align: left;
  font-family: sans-serif;
  margin-bottom: 8px;
  margin-top: 25px;
}

.hrFooter {
  width: 90%;
  border-width: 0.1px;
  margin: auto;
  margin-bottom: 20px;
}

.table {
  margin: auto;
  text-align: left;
  width: 90%;
  margin-top: -10px;
  font-family: sans-serif;
  font-size: 14px;
}

ul#horizontal-list {
  min-width: 90%;
  list-style: none;
  padding-top: 20px;
}

ul#horizontal-list li {
  display: inline;
  text-decoration: underline;

}

.footerSectionTwo {
  text-align: center;
  margin-top: 25px;
  font-family: sans-serif;
  font-size: 12px;
}